@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
	color: black;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.main-nav{
	
	background-color: rgba(0, 0, 0, 0.87);
}

.main-nav a{
	color:white;
	padding: 15px;
	margin: 3px;
}

.main-nav a:hover{
	color: steelblue;
	transition: ease 3ms;
}

.content{
	margin-top: 20px;
}