@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color:#333;
}

.logo{
	position: absolute;
	margin-left: 45%;
	margin-top: 100px;
	color: rgb(255, 255, 255);
	font-size: 4rem;
}
.main-nav{
	background-image: url(build.jpg);
	background-repeat: none;
	background-color: grey;
	background-blend-mode: multiply;

}

.link a{
	color:white ;
	z-index: 10;
	padding: 5px;
	background-color: black; 
	border-radius: 15%;
}

.main-nav a{
	display: relative;
	margin-left: 81%;
	line-height: 2;
}
/*
.nav-content{
	color: rgb(0, 0, 0);
	border-radius: 15%;
	padding: 5px;
}*/

.main-nav a:hover{
	color: red;
	font-weight: bold;
	
}
